@font-face {
  font-family: 'Dino Play';
  src: url('../fonts/DinoPlay.ttf') format('ttf');
  font-style: normal;
  font-size: large;
}

@font-face {
  font-family: "lycheefarmland";
  src: url('../fonts/LycheeFarmland2.woff') format('woff');
}

@font-face {
  font-family: 'kgprimaryenmanship';
  src: url('../fonts/KGPrimaryPenmanship.woff') format('woff');
  font-style: normal;
  font-size: large;
}


@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}


body {
  background-color: #d4c9e2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #d0e1e8;
  text-align: center;
  font-family: serif;
  font-size: 50px;
}

.login {
  max-width:50px;
  max-height:25px;
  width: auto;
  height: auto;
  position: static;

}

.logotext {
  font-family: "lycheefarmland";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 35px;
  position: static;

}

.container {
  /* height: 700px; */
  margin: 2% 8%;
  background-color: #f2eef6;
  border-radius: 15pt;
  padding: 2%;
  justify-content:center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: static;
  flex-direction: row;
  gap: 26%;
}

.grad-circle { 
  margin: 25pt auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(242,238,246));
  height: 300pt;
  width: 300pt;
  position: static;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.texto {
  margin-top: 90pt;
  margin-left: 40pt;
  text-transform: uppercase;
  color: #d4c9e2;
  font-size: 50pt;
  position: static;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  opacity: 0;
  padding: 0;
  justify-content: center;
  animation: mymove 6s linear forwards 1;
  overscroll-behavior: smooth;
}


@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.image-container img { 
  width: 60%;
  height: 368px;
  margin: -80px;
  padding: 0;
  margin-top: 93px;
}

.lilacbottle {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  margin: -70px;
  padding: 0;
  justify-content: center;
  width: 60%;
  margin-top: 173px;
} 

.lilacbottle img {
  width: 100%;
  height: 448px;
  margin: -160px;
  padding: 0;

}


nav > ul {  
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #1b1b32;
  justify-content: center;
  display: inline-flex;
  margin-right: 40pt;
}

nav > ul > li:hover {
  background-color: #d4c9e2;
  color: #1b1b32;
  cursor: pointer;
  border-radius: 15pt;
  padding: 2pt;
}

li > a {
  font-size: 28px;
  font-weight: bolder;
  font-family: "kgprimaryenmanship";
  color: inherit;
  text-decoration: none;
}
